.header {
	margin-top: 20px;
	padding-bottom: 20px;
}

.logo {
	float: left;
	width: 158px;
	height: 71px;
	padding-right: 20px;
}

.title {
	font-size: 26px;
	line-height: 38px;
	padding-bottom: 40px;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	color: #D16727;
}